<div fxLayout=" row wrap " fxLayoutGrap=" 16px grid " >
    <div fxflex="40%" fxFlex.xs="100%" fxLayout.sm="33%">
        <mat-card class="mat-elevation-z4" style="margin-top: 50px; margin-left: 60px; background-color: #c0e4ff;">
            
            <mat-card-header *ngFor="let pro of spl">
                <img  src="/assets/b111.png" alt="" height="750px" width="710px">
            </mat-card-header>

            
        </mat-card>
    </div>


    <div fxlfex="40%" style="margin-top: 70px; margin-left: 60px;" *ngFor="let pto of spl">
        <h1>{{pto.name}}</h1>
        <br>
        <h2> {{pto.price| currency}} </h2>
        <br><br>
        <h3>size:</h3>
        <button class="btn active">{{pto.size1}}</button>
        <button class="btn">{{pto.size2}}</button>
        <br><br>
        <h3>Insulation:</h3>
        <button class="btn text-justify">
        Insulated
        </button>
        <button class="btn text-justify">
        Non-Insulated
        </button>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br><br><br><br><br>
        <button id="b" 
        style="padding-left: 180px;padding-right: 180px; margin-left: 50px;color: white; border: #153a5b 1px solid;background-color: #153a5b;"
         class="btn"
         routerLink="cart">
         Add To Cart
        </button>
        <p>12-month warranty, 100% secure checkout</p>
        <hr>
        <mat-accordion>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   <span style="color: #153a5b; font-weight:bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Product Description</span> 
                  </mat-panel-title>
    
                </mat-expansion-panel-header>
                <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:gray;">
                    The LARQ Bottle PureVis™ is the world's first self-cleaning water <br>
                    bottle and water  purification system. It uses PureVis technology <br>
                    to eliminate up to 99%* of bio-contaminants such as E. coli from <br>
                    your water and bottle.
                </span> 
                <br><br>
                
    
                <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:gray">
                    *Based on elimination 99.8% of E.coli in a 20-second cycle for all <br>
                     LARQ Bottles.
                </span>

              </mat-expansion-panel>
                <hr>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span style="color: #153a5b; font-weight:bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Shipping Returns</span> 
                           </mat-panel-title>
                    </mat-expansion-panel-header>

                    <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:gray;">
                        Free shipping on orders over £80. <br>
                        We would be happy to accept returns of any unused LARQ <br>
                        product (excluding charging cables and personalized LARQ <br>
                        Bottles) in its original packaging within 30 days of the purchase <br>
                        date.
                    </span>
                    <br><br>

                </mat-expansion-panel>
                <hr>
  
        </mat-accordion>


          

    </div>
</div>

<br><br>


<div fxLayout="row" fxLayoutGrap=" 16px ">
    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 50px; margin-left: 80px;" >
        <img  mat-card-image src="/assets/p1-s.webp" alt="" height="400px" width="300px">
    </div>

    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 34px; margin-left: 40px;" >
        <mat-card>
            <img  mat-card-image src="/assets/p1-s1.webp" alt="" height="387px" width="250px" style="padding-bottom: 50px;">
        </mat-card>
        
    </div>
</div>

<div fxLayout="row" fxLayoutGrap=" 16px ">
    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 50px; margin-left: 60px;" >
        <mat-card>
            <img  mat-card-image src="/assets/p1-s2.webp" alt="" height="400px" width="300px">
        </mat-card>
        
    </div>

    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 50px; margin-left: 40px;" >
        <mat-card>
            <img  mat-card-image src="/assets/p1-s3.webp" alt="" height="400px" width="250px" style="padding-bottom: 50px;">
        </mat-card>
        
    </div>
</div>

<div fxLayout="row" fxLayoutGrap=" 16px ">
    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 50px; margin-left: 60px;" >
        <mat-card>
            <img  mat-card-image src="/assets/p1-s4.webp" alt="" height="400px" width="300px" >
        </mat-card>
        
    </div>

    <div fxflex="20%" fxFlex.xs="100%" fxLayout.sm="33%" style="margin-top: 50px; margin-left: 40px;" >
        <mat-card>
            <img  mat-card-image src="/assets/p1-s5.webp" alt="" height="400px" width="250px"  style="padding-bottom: 50px;">
        </mat-card>
        
    </div>
</div>





