@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');
 
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #153a5b;
    margin-top: 100px;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 100px;


}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: gray;
    
}
input{
    height: 40px;
    margin-bottom: 30px;

}
#b1{
    color: white;
    background-color: #153a5b;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    border: gray 1px solid;
    border-radius: 0;
    margin-left: 100px;
    font-weight: bold;
}
#b1:hover{
    background-color: white;
    color: #153a5b;
    border: gray 1px solid;
    transition-duration: 0.5s;
}
.a{
    /* padding-bottom: 100px; */
    margin-bottom: 100px;
}

#b2{
    color: white;
    background-color: #153a5b;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    border: gray 1px solid;
    border-radius: 0;
    margin-left: 70px;
    font-weight: bold;
}
#b2:hover{
    background-color: white;
    color: #153a5b;
    border: gray 1px solid;
    transition-duration: 0.5s;
}
mat-card{
    background-color:  #e7e7e7;
    padding-bottom: 50px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

mat-card-content{
    margin-left: 50px;
    color: gray;
    font-size: medium;
}
mat-card-header{
    color: #153a5b;
    font-size: 15px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: #153a5b;
}